<div class="card m-3">
  <h5 class="card-header">Bingokaart</h5>
  <div class="card-body">
    <table class="table table-bordered">
      <tbody>
      <tr>
        <th>B</th>
        <th>I</th>
        <th>N</th>
        <th>G</th>
        <th>O</th>
      </tr>
      {content}
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <p>Letter V: {rowV}</p>
    <p>Letter W: {rowW}</p>
  </div>
</div>