<div class="row m-1" id="container-results">
    <div class="col">
        <div class="card">
            <h5 class="card-header">Step 1:</h5>
            <div class="card-body">
                {fibonacci}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h5 class="card-header">Step 2:</h5>
            <div class="card-body">
                {fibonacciByModulo}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h5 class="card-header">Step 3:</h5>
            <div class="card-body">
                {fibonacciByModuloSum}
            </div>
        </div>
    </div>
</div>