<form class="form-inline m-3 row">
    <div class='col-1'>
        <select id='select-year' class='form-control' name='year'>
            {years}
        </select>
    </div>
    <div class='col-3'>
        <select id='select-week' class='form-control' name='year'>
            {weeks}
        </select>
    </div>
</form>